@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cursor */
*,
.orz-cursor {
    cursor: url(https://cdn.jsdelivr.net/gh/orz14/nyatet-app@main/public/img/cursor/orz-cursor.png),
        default;
}
a,
a *,
.orz-pointer,
.orz-pointer *,
input[type="submit"],
input[type="button"],
input[type="image"],
input[type="checkbox"],
input[type="radio"],
button,
button *,
select,
option,
.btn {
    cursor: url(https://cdn.jsdelivr.net/gh/orz14/nyatet-app@main/public/img/cursor/orz-pointer.png),
        pointer;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    @apply cursor-text;
}

/* Some Styles */
.btn {
    @apply !normal-case;
}

.container {
    @apply max-w-5xl;
}

.nav {
    @apply pt-2 sm:pt-3;
}

.nav .container {
    @apply flex items-center;
}

.nav .brand,
.nav .ctas {
    @apply w-1/2 md:w-1/5;
}

.nav .menutet {
    @apply hidden md:w-3/5 md:flex md:justify-center md:items-center md:gap-10;
}

.nav .menu-item {
    @apply opacity-60 hover:opacity-100;
}

.nav .menu-item-active {
    @apply opacity-100 font-bold;
}

.nav .ctas {
    @apply text-right;
}

.btm-nav .active {
    @apply !bg-teal-500 !border-t-4 !border-teal-800;
}

.todo-hijau {
    @apply !bg-teal-400 !border-teal-400;
}

.todo-merah {
    @apply !bg-red-400 !border-red-400;
}

.note-locked {
    @apply !border-red-400;
}

.input-err {
    @apply !text-red-700 !border-red-700 focus:!ring-red-600/20 focus:!border-red-500;
}

/* CKEditor */
.ckeditor a {
    @apply underline;
}

.ckeditor ul {
    @apply list-[square] pl-5;
}

.ckeditor ol {
    @apply list-decimal pl-5;
}

.ckeditor h2,
.ckeditor h3,
.ckeditor h4 {
    @apply block ml-0 mr-0 font-bold;
}

.ckeditor h2 {
    @apply text-2xl my-3;
}

.ckeditor h3 {
    @apply text-xl my-4;
}
.ck-editor__editable_inline {
    min-height: 15em;
}
.ckeditor h4 {
    @apply text-lg my-5;
}

/* Scrollbar */
::-webkit-scrollbar {
    @apply appearance-none w-2 h-2;
}
::-webkit-scrollbar-thumb {
    @apply bg-teal-400;
}
::-webkit-scrollbar-track {
    @apply bg-teal-50;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-teal-500;
}

/* Go Up and Down */
.scrollToTop {
    @apply hidden list-none text-[0] fixed bottom-[49%] right-0 cursor-pointer z-[99];
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.scrollToTop a {
    @apply relative overflow-hidden inline-block bg-white text-slate-600 m-auto py-3 px-[14px] lg:py-[14px] lg:px-4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.scrollToTop a:hover {
    @apply text-teal-400;
}
.scrollToTop li:nth-child(1) {
    @apply animate-slideInTop;
}
.scrollToTop li:nth-child(2) {
    @apply animate-slideInDown;
}
@keyframes slideInTop {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        -webkit-backface-visibility: hidden;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
        -webkit-backface-visibility: hidden;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
